@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;700&display=swap');

html {
	padding: 0;
	margin: 0;
	font-family: arial;
	height: 100%;
	color: #999;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #8d8e92;    
	background-size: cover;
	background-position: center;
	min-height: 100%;
}

nav {    
    display: flex;
    z-index: 10;    
    justify-content: space-between;
    background-color: #2b2c38;
    
}

ul {  
    display: flex;  
    list-style-type: none;
    padding: 10px;
    width: 65%;    
    justify-content: space-between;
}

li {
    width: 300px;
    padding: 5px;
    text-decoration: none; 
    font-size: 15px;  
       
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

#img-logo {
	height: 80px;
    padding: 10px;
}

#presentation {
    text-align: center;    
}

#presentation p {
    color: white;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
	font-weight: 400;    
}

h1 {
    color :black;
    font-family: 'Mukta', sans-serif;
	font-weight: 600;
    font-size: 30px;
    text-decoration: underline;
}

.h1-home {
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Mukta', sans-serif;
	font-weight: 400;
    font-size: 25px;
    text-align: center;
    padding: 0;
}

#alert-success {
    text-align: center;    
    font-size: 20px;     
    border-radius: 5px;
    border: 1px solid rgb(13, 150, 13);
    background-color: rgb(13, 150, 13);  
    color: white;
    padding: 0;  
    margin: 0;
}

#alert-error {
    text-align: center;    
    font-size: 20px;     
    border-radius: 5px;
    border: 1px solid red;
    background-color: red; 
    color: white;
    padding: 0;  
    margin: 0;
}

.step {
    font-weight: 600;
    color: #490e2ac4;    
}

section {
    width: 1000px;
    margin: auto; 
    flex-grow: 1;  
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #2b2c38;
}

label {
    padding: 10px;
    margin-left : 20px;
    margin-right: 20px;
}

input {
    margin-left : 20px;
    margin-right: 20px;
}

select {
    margin-left : 20px;
    margin-right: 20px;
}

button {
    margin: 20px;
    padding: 10px;
}

footer {
	background-color: #2b2c38;
	padding: 5px;
	margin-top: 100px;
    display:flex; 
    justify-content: center;
    text-align: center;       
}

footer p {    
	margin-top: 5px; 
     
}

footer a {
	font-size: 0.7em;
	color: #999;
	text-decoration: none;
	padding: 5px;
}

footer a:hover {
	text-decoration: underline;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


* {
	box-sizing: border-box;
}

.footer-container {
	width: 1400px;
	margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 7px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    #img-logo {
        display: none;
    }
}

.album-card {
    width: 400px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(94, 91, 91);
    margin: 10px;
    background-color: #2b2c38;
    border-radius: 10px;
    text-align: center;  
}

.album-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .album-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.album-front-image {
    margin: 10px;
    width: 150px;
    border-radius: 10px;       
}

